.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.logo, .logo:hover {
  color: #333;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div#cups {
  overflow-x: auto;
}

div#cups .row {
  margin-right: 0px;
}

div#cups > .row > .col-md-12 {
  overflow: hidden;
}

div#cups > .row > .col-md-12 > div {
  overflow: auto;
}

.info-box {
  min-height: 90px;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.info-box.big {
  min-height: 130px;
}

.info-box-icon {
  font-size: 32px;
  height: 100%;
  line-height: 90px;
  position: absolute;
  text-transform: uppercase;
}

.info-box.big .info-box-icon {
  line-height: 130px;
}

.info-box-number {
  font-size: 14px;
  overflow: hidden;
}

.info-box-number >span {
  display: block;
  float: right;
}

.info-box-number >span:first-child {
  clear: left;
  float: left;
  width: 80px;
}

.info-box-icon a {
  color: #333;
}

tr th, tr td {
  padding: 5px;
}

.yesno {
  display: block;
  margin: auto;
  margin-top: 25px;
  overflow: hidden;
  width: 110px;
}

.yesno button {
  display: block;
  float: right;
  margin-right: 5px;
  width: 45px;
}

.yesno button:first-child {
  float: left;
}

.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
}

.ReactModal__Overlay {
  z-index: 9999;
}
 
.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}

.notify-item a {
  color: #FFF;
}
 
.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}
 
.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}
 
.notify-item.success {
  background-color: rgba(81, 163, 81, 0.9);
}
 
.notify-item.error {
  background-color: rgba(203, 100, 94, 0.9);
}
 
.notify-item.info {
  background-color: rgba(33, 150, 243, 0.9);
}
 
.notify-title {
  font-weight: 700;
}

.transfer {
  height: 150px;
}

.transfer label {
  clear: left;
  display: block;
  float: left;
  height: 25px;
}

.transfer input, .transfer select, .transfer span, .transfer a {
  clear: right;
  display: block;
  float: right;
}

.transfer input, .transfer select {
  width: 200px;
}

.transfer input[type=number], .transfer input[type=text], .transfer span {
  text-align: right;
}

.transfer input[type=text] {
  padding-right: 15px;
}

.transfer input[type=submit] {
  margin-top: 5px;
}

p.error {
  clear: left;
  color: red;
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.general-info > div {
  float: left;
  margin-right: 15px;
}

.system-status > div {
  width: 100%;
  overflow: hidden;
}

.system-status > div > div {
  float: left;
}

.system-status > div > div > strong, .system-status > div > div > span {
  display: block;
  margin: 10px;
}

.system-status .main > div > strong, .system-status .main > div > span {
  font-size: 16px;
}

.system-status span.boom-bust {
  float: left;
  margin-top: 0px;
}

.system-status span.boom-bust:first-of-type {
  border-right: 1px solid;
  padding-right: 20px;
}

.system-status .more-link {
  display: block;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.error-color {
  color: #dd4b39;
}

.warning-color {
  color: #f39c12;
}

.success-color {
  color: #00a65a;
}

.printedNumber {
  cursor: pointer;
}

@media (min-width: 992px) {
  .row.flex {
    align-items: stretch;
    display: flex;
    margin-bottom: 20px;
  }

  .row.flex .box {
    height: 100%;
    margin-bottom: 0px;
  }
}

#termsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#termsWrapper h2 {
  display: block;
  flex: 0 0 auto;
  height: 40px;
  font-size: 30px;
  padding-left: 14px;
}

@media (max-width: 900px) {
  #termsWrapper h2 {
    font-size: 25px;
    height: 30px;
  }
}

@media (max-width: 750px) {
  #termsWrapper h2 {
    font-size: 20px;
    height: 25px;
  }
}

@media (max-width: 605px) {
  #termsWrapper h2 {
    height: 40px;
  }
}

#termsWrapper .content {
  flex: 1 1 auto;
  padding-bottom: 0px;
  padding-top: 0px;
  word-break: break-word;
  overflow-y: scroll;
  width: 100%;
}

#termsWrapper .content table {
  word-break: initial;
  overflow-x: auto;
}

#termsWrapper .content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
#termsWrapper .content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#termsWrapper form {
  display: block;
  flex: 0 0 auto;
  height: 50px;
  overflow: hidden;
}

#termsWrapper input[type=submit] {
  display: block;
  font-size: 18px;
  height: 34px;
  margin: auto;
  margin-top: 8px;
  width: 100px;
}

#termsWrapper input[type=submit]:disabled {
  opacity: 0.3;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a.resource {
  border: 1px solid;
  border-radius: 4px;
  clear: left;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 8px 20px;
 }

a.resource.buy-dai {
  background-color: #1ABC9C;
  border-color: #17A387;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

a.resource.buy-dai span {
  margin-left: 0;
  float: none;
  color: #FFF;
}

a.resource.video {
  background-color: #1ABC9C;
  border-color: #17A387;
}

a.resource.video:hover {
  background-color: #1ED6B1;
  border-color: #1ABD9C;
}

a.resource.terminology {
  background-color: #546979;
  border-color: #41525E;
}

a.resource.terminology:hover {
  background-color: #647E91;
  border-color: #536878;
}

a.resource img {
  display: block;
  float: left;
  width: 36px;
}

a.resource span {
  color: #FFF;
  display: block;
  float: left;
  font-size: 22px;
  line-height: 36px;
  margin-left: 12px;
  text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1220px) {
  a.resource span {
    font-size: 18px;
    margin-left: 10px;
  }
}

/* .main .resourceButtons {
  display: none;
}

.right-sidebar .resourceButtons {
  display: block;
}

@media (max-width: 992px) {
  .main .resourceButtons {
    display: block;
  }

  .right-sidebar .resourceButtons {
    display: none;
  }
} */

.close {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  text-align: right;
}

#toggle-addresses[aria-expanded="false"] :nth-child(2) {
  display: none;
}

#toggle-addresses[aria-expanded="true"] :first-child {
  display: none;
}

.collapsed {
  border-top-color: #3c8dbc;
  cursor: pointer;
}

.collapsed .box-header {
  background-image: url("../arrow_down.svg");
  background-position: right 15px top 10px;
  background-repeat: no-repeat;
}

.collapsed .box-header[aria-expanded="true"] {
  background-image: url("../arrow_up.svg");
}

.changePrice {
  display: block;
  margin: 10px 0 0 10px;
}

.allowance span {
  display: block;
  float: left;
}

.allowance > div > span:first-child {
  clear: left;
  width: 40px;
}

.allowance > div > span:nth-child(2) {
  width: 80px;
}


.onoffswitch {
  position: relative; width: 100px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 12px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
  font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Approved";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Denied";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: -1px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 80px;
  border: 2px solid #999999; border-radius: 12px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch.mode-box {
  position: absolute;
  right: 15px;
  top: 30px;
  width: 125px;
}

.onoffswitch.mode-box .onoffswitch-switch {
  right: 105px;
  top: -4px;
  bottom: 2px;
}

.onoffswitch.mode-box .onoffswitch-inner:before {
  content: "Proxy Profile";
}
.onoffswitch.mode-box .onoffswitch-inner:after {
  content: "Main Account";
}

.buttonAction {
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  overflow: hidden;
  padding: 2px 5px;
  text-align: center;
  white-space: nowrap;
}

span.buttonAction {
  background-color: #EDEDED ;
  border-color: #DDD;
}

a.buttonAction {
  background-color: #1ABC9C;
  border-color: #17A387;
}

.buttonAction span {
  margin-left: 0;
  float: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

span.buttonAction span {
  color: #CCC;
}

a.buttonAction span {
  color: #FFF;
}

.openAction {
  font-size: 25px;
  float: left;
  padding: 5px 30px;
  text-transform: uppercase;
}

@media screen and (max-width:991px) {
  .openAction {
    width: 100%;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 36px;
    padding: 8px 20px;
  }
}

.cupsMessage {
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}

.cupsTabs {
  padding: 0px;
}

.cupsTabs a {
  border: 1px solid #f4f4f4;
  float: left;
  padding: 10px;
}

.cupsTabs a.selected {
  background: #3c8dbc;
  color: #fff;
}

.paginator {
  float: right;
  font-size: 18px;
  margin: 15px 25px 0 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}
