.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.logo, .logo:hover {
  color: #333;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div#cups {
  overflow-x: auto;
}

div#cups .row {
  margin-right: 0px;
}

.info-box {
  height: 90px;
}

.info-box.big {
  height: 110px;
}

.info-box-icon {
  font-size: 32px;
  height: 100%;
  line-height: 90px;
  text-transform: uppercase;
}

.info-box.big .info-box-icon {
  line-height: 110px;
}

.info-box-number {
  font-size: 14px;
  overflow: hidden;
}

.info-box-number >span {
  display: block;
  float: right;
}

.info-box-number >span:first-child {
  clear: left;
  float: left;
  width: 80px;
}

.info-box-icon a {
  color: #333;
}

tr th, tr td {
  padding: 5px;
}

.yesno {
  display: block;
  margin: auto;
  margin-top: 25px;
  width: 80px;
}

.yesno button {
  display: block;
  float: right;
}

.yesno button:first-child {
  float: left;
}

.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
}

.ReactModal__Overlay {
  z-index: 9999;
}
 
.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}

.notify-item a {
  color: #FFF;
}
 
.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}
 
.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}
 
.notify-item.success {
  background-color: rgba(81, 163, 81, 0.9);
}
 
.notify-item.error {
  background-color: rgba(203, 100, 94, 0.9);
}
 
.notify-item.info {
  background-color: rgba(33, 150, 243, 0.9);
}
 
.notify-title {
  font-weight: 700;
}

.transfer {
  height: 150px;
}

.transfer label {
  clear: left;
  display: block;
  float: left;
  height: 25px;
}

.transfer input, .transfer select, .transfer span {
  clear: right;
  display: block;
  float: right;
  width: 150px;
}


.transfer input[type=number], .transfer input[type=text], .transfer span {
  text-align: right;
}

.transfer input[type=text] {
  padding-right: 15px;
}

.transfer input[type=submit] {
  margin-top: 5px;
}

p.error {
  clear: left;
  color: red;
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.general-info > div {
  float: left;
  margin-right: 15px;
}

.system-status > div {
  float: left;
}

.system-status > div > strong, .system-status > div > span {
  display: block;
  margin: 10px;
}

.error-color {
  color: #dd4b39;
}

.warning-color {
  color: #f39c12;
}

.success-color {
  color: #00a65a;
}

.printedNumber {
  cursor: pointer;
}

@media (min-width: 992px) {
  .row.flex {
    align-items: stretch;
    display: flex;
    margin-bottom: 20px;
  }

  .row.flex .box {
    height: 100%;
    margin-bottom: 0px;
  }
}

#termsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#termsWrapper h2 {
  display: block;
  flex: 0 0 auto;
  height: 40px;
  font-size: 30px;
  padding-left: 14px;
}

@media (max-width: 900px) {
  #termsWrapper h2 {
    font-size: 25px;
    height: 30px;
  }
}

@media (max-width: 750px) {
  #termsWrapper h2 {
    font-size: 20px;
    height: 25px;
  }
}

@media (max-width: 605px) {
  #termsWrapper h2 {
    height: 40px;
  }
}

#termsWrapper .content {
  flex: 1 1 auto;
  padding-bottom: 0px;
  padding-top: 0px;
  word-break: break-word;
  overflow-y: scroll;
}

#termsWrapper .content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
#termsWrapper .content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#termsWrapper form {
  display: block;
  flex: 0 0 auto;
  height: 50px;
  overflow: hidden;
}

#termsWrapper input[type=submit] {
  display: block;
  font-size: 18px;
  height: 34px;
  margin: auto;
  margin-top: 8px;
  width: 100px;
}

#termsWrapper input[type=submit]:disabled {
  opacity: 0.3;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
